.modalConatiner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    left: 0;
    top: 0;
    z-index: 100;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #000;
    padding-bottom: 40px;
    z-index: 100;

    #img {
        display: none;
    }

    .fileBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        width: 100%;
    }
}

.gnb {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 0 10px;

    .left-btn-wrap {
        display: flex;
        gap: 10px;
    }

    .right-btn-wrap {
        display: flex;
        gap: 10px;
    }

    .color {
        position: relative;

        input {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #d7d7d7;
        width: 88px;
        border-radius: 10px;
        height: 28px;
        border: 1px solid #7e7e7e;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        cursor: pointer;
    }

    .select {
        position: relative;

        ul {
            position: absolute;
            left: 0px;
            top: 50px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid #000;
            background-color: gainsboro;
            margin: 0;
            padding: 0;

            li {
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background-color: white;
                }
            }
        }
    }

    .select-align {
        position: relative;
        ul {
            position: absolute;
            left: 0;
            top: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0;
            padding: 0;

            li {
                width: 40px;
                height: 40px;
                background-color: rgb(240,240,240);
                border-radius: 10px;

                &.left {
                    background-image: url(../../src/img/text-left-align.png);
                }

                &.center {
                    background-image: url(../../src/img/text-center-align.png);
                }

                &.right {
                    background-image: url(../../src/img/text-right-align.png);
                }
            }
        }
    }

    .ctrl-btn {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: -9999px;
        overflow: hidden;
        &.font-familly {
            background-image: url(../../src/img/font-familly.png);
            background-position: center center;
        }
        &.font-size {
            background-image: url(../../src/img/font-size.png);
            background-position: center center;
        }
        &.font-color {
            position: relative;
            display: block;
            background-color: rgb(240,240,240);
            // background-image: url(../../src/img/font-color.png);
            // background-position: center center;
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &.font-weight {
            background-image: url(../../src/img/font-weight.png);
            background-position: center center;
        }
        &.text-align {
            background-image: url(../../src/img/text-left-align.png);
            background-position: center center;
        }
        &.box-color {
            display: block;
            background-color: rgb(240,240,240);
        }
        &.link {
            background-image: url(../../src/img/link.png);
            background-position: center center;
        }
    }
}

.videoModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #000;
    gap: 50px;
    z-index: 100;

    input[type=text] {
        width: 420px;
        height: 40px;
    }


    .btnWrap {
        display: flex;
        gap: 10px;
    }
}