#root {
}

.wrap {
    display: flex;
    padding: 3px;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
}

.lnb {
    flex: 0 0 250px;
    width: 250px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        height: 30px;
        gap: 5px;
        padding: 5px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
    }

    button {
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 20px;
        white-space: nowrap;
        font-weight: normal;
    }
}

.select-layouts {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px;
    gap: 10px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;

    button {
        width: 350px;
        height: 200px;
        cursor: pointer;
    }
}