#root {
    padding: 3px;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
}

.lnb {
    width: 250px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        height: 30px;
        gap: 5px;
        padding: 5px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
    }

    button {
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 20px;
        white-space: nowrap;
        font-weight: normal;
    }
}